{% include 'header.html' %}

{% if usuario %}
<section class="cover" style="background-image: url(/static/image/hotel-1330850_1920.jpg)">
  <div class="container caja">
    <div class="row">
      <h5 class="white-text" align="center">Hello {{ usuario.1 }}!</h5>
      <form action="/save_file" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
          <div class="col s12">
            <input type="text" name="id_user" placeholder="email" value="{{ usuario.0 }}" hidden>
          </div>
        </div>
        <div class="col s12 center">
          <button type="submit" class="btn">Save</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% else %}
<h1>Hello, World!</h1>
{% endif %}
{% include 'footer.html' %}