{% include 'header.html' %}
<section class="cover" style="background-image: url(/static/image/key-3348307_1920.jpg)">
    <form action="/login" method="POST">
        <div class="col s12">
            <input type="text" name="email" placeholder="email">
        </div>
        <div class="col s12">
            <input type="text" name="password" placeholder="Password">
        </div>
        <div class="col s12">
            <button type="submit">Save</button>
        </div>
    </form>
</section>
{% include 'footer.html' %}