{% include 'header.html' %}
<section class="cover" style="background-image: url(/static/image/doors-1767564_1920.png)">
  <div class="container caja">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text center">
          Consulte archivo
        </h5>
      </div>
      <form action="/query_file" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="col s12 center">
          <button class="btn" type="submit">Consultar</button>
        </div>
      </form>
      {% if resultado != 'No existe' %}
      <div class="col s12 center">
          <h6 class="white-text">Usuario: {{ resultado[6]+' '+resultado[7]  }}</h6>
          <h6 class="white-text">Contacto: {{ resultado[8] }}</h6>
        <h6 class="white-text">Hash: {{ resultado[2] }}</h6>
        <h6 class="white-text">Licencia: {{ resultado[3] }}</h6>
      </div>
      {% else %}
      <div class="col s12 center"><h6 class="white-text">{{ resultado }}</h6></div>
      {% endif %}
    </div>
  </div>
</section>
{% include 'footer.html' %}