{% include 'header.html' %}
  <form action="/query_file" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="col s12">
          <button type="submit">Save</button>
      </div>
    </form>
{% include 'footer.html' %}