{% include 'header.html' %}
<form action="/add_contact" method="POST">
    <div class="col s12">
        <input type="text" name="nombre" placeholder="Nombres">
    </div>
    <div class="col s12">
        <input type="text" name="apellidos" placeholder="Apellidos">
    </div>
    <div class="col s12">
        <input type="text" name="email" placeholder="email">
    </div>
    <div class="col s12">
        <input type="text" name="password" placeholder="Password">
    </div>
    <div class="col s12">
        <button type="submit">Save</button>
    </div>
</form>
{% include 'footer.html' %}